@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html, body {
        font-family: "Staff", sans-serif;
        font-weight: 400;
        @apply antialiased bg-background text-white;

    }

    form {
        @apply flex-col-start gap-3 flex-grow;

        > section {
            @apply w-full
        }

        h3 {
            @apply text-2xl font-medium mt-10 mb-2
        }
    }

    .input-wrapper {
        @apply w-full;

        >  .input {
            @apply rounded-subtile bg-decent border-borders ring-0 placeholder-decent w-full;

            &.error {
                @apply border-attention
            }
        }

        > label {
            @apply text-sm text-white font-medium
        }

        > .error-message {
            @apply text-sm text-attention font-medium 
        }
    }
    
    /* =============================================================== FONT ROBOTO */
    @import url("https://use.typekit.net/wdv6hwc.css");

    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Staff';
        font-style: normal;
        font-weight: 400;
        src:    url('../fonts/Staff-Light.woff2') format('woff2'),
                url('../fonts/Staff-Light.woff') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Staff-X-Wide';
        font-style: normal;
        font-weight: 700;
        src:    url('../fonts/StaffXWide-Bold.woff2') format('woff2'),
                url('../fonts/StaffXWide-Bold.woff') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Staff-X-Wide';
        font-style: normal;
        font-weight: 400;
        src:    url('../fonts/StaffXWide-Regular.woff2') format('woff2'),
                url('../fonts/StaffXWide-Regular.woff') format('woff'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer utilities {
    .no-select {
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
    }

    .no-drag {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    .flex-col-center {
        @apply flex flex-col items-center justify-center
    }

    .flex-col-start {
        @apply flex flex-col items-start justify-start
    }

    .flex-col-end {
        @apply flex flex-col items-end justify-start
    }

    .flex-col-west {
        @apply flex flex-col items-start justify-center
    }

    .flex-row-center {
        @apply flex flex-row items-center justify-center
    }

    .flex-row-start {
        @apply flex flex-row items-start justify-start
    }
    .flex-row-end {
        @apply flex flex-row items-end justify-end
    }

    .flex-row-between {
        @apply flex flex-row items-center justify-between
    }

    .flex-row-around {
        @apply flex flex-row items-center justify-around
    }

    .safe-area-t {
        @apply pt-10
    }

    .safe-area-b {
        @apply pb-10
    }

    .safe-area-l {
        @apply pl-8
    }

    .safe-area-r {
        @apply pr-8
    }

    .filter-black {
        filter: brightness(0%) contrast(100%);
    }

    .transform-it {
        @apply transform transition-all duration-500;
      }
     
}